
::-webkit-scrollbar {
    width: 1vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #41ab7d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius:1vw ;
    background: #67dba9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.5); 
  }
body{
    overflow: auto;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
   
    margin: 0;
    
}
    .content{
        
        overflow-y: visible;
        background-color: rgba(0,0,0,0) !important;
        /* opacity: 0.2 !important; */
      z-index:1 !important;
  }
.bganimation{
    display: none;
    top:0;
    position: absolute;
    transform: rotate(-90deg) !important;
    pointer-events: none;
    z-index: -1;
  
    height: 210%;
}

.bottomBar{
    display: none;
}
.topBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2% 10%;
    background-color: #f0f0f0;    
    z-index: 1;
}

.nav{
    display: flex;
}
.other{
    color: rgba(0,0,0,0.2);
    transition: 500ms ease-in-out;

}
  
.other:hover{
    color:#000 !important;
  }
 
  
  span,a{
    text-decoration: none;
    color: inherit;  
      
  }
  
.case{
    border-radius: 1vw;
    transition: 300ms ease-in-out;
    background-color: rgba(255,255,255,0.1);
    color: rgba(0,0,0,0.4);
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 1% 0% ;
    margin:2% 23% ;

}


.caseImage{
    transition: 300ms ease-in-out;
    border-radius: 1.5vw;
    width: 25vw;
    margin: 0% 2%;
    filter: saturate(0);
}
.caseDetails{
    
    font-weight: 600;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    margin: 0% 2%;
    
}
.caseTitle{
    padding-bottom: 2%;
    font-size: 2vw;
    font-weight: bold;
    transition: 300ms ease-in-out;
}
.caseDescription{
    padding-bottom: 10%;
    
    transition: 300ms ease-in-out;
    text-align: justify;
}
.caseLink{
    font-style: italic;
    font-size: 1vw;
    color:rgba(0,0,0,0.4);
    
    display: inline;
    font-weight: bold;
}
.caseBox{
    border:1px solid ;
}
.case:hover > .caseImage {
    transform: scale(1.09);
    /* box-shadow: 8px 8px 24px rgba(0,0,0,0.2); */
    filter: saturate(1);
}
.case:hover >  .caseDetails  { 
    color: #000;
}
.case:hover > .caseDetails > .caseLink { 
    cursor: pointer;
    color: #000;
}
.arrow1{
    
    transition: 150ms ease-in-out;
}
.case:hover > .caseDetails > .caseLink > .arrow1{
    animation: arrowBounce 1.5s infinite ease-in-out;
}
.caseLink:hover > .arrow1{
    animation-play-state: paused !important;
    padding-left:1.25% ;
    color: #000;
}
.case:hover > .caseDetails > .caseDescription { 
    color:rgba(0,0,0,0.7);
}
.case:hover{
    box-shadow: 8px 8px 24px rgba(0,0,0,0.2); 
}