body{
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    margin: 0;
}
::selection {
    background: #41ab7d; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #41ab7d; /* Gecko Browsers */
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 

  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #67dba9; 
    border-radius: 24vw;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #41ab7d; 
  }
    .content{
        margin-top: 10% !important;
        background-color: rgba(0,0,0,0) !important;
        /* opacity: 0.2 !important; */
      z-index:1 !important;
  }
.bganimation{
    top:0;
    position: absolute;
    transform: rotate(-90deg) !important;
    pointer-events: none;
    z-index: -1;
    border: 10px solid gray;
    height: 210%;
}
/* .cursor{
    z-index: 2;
    position: absolute;
    border: solid .25vw #000;
    width: 2vw; 
    height: 2vw; 
    border-radius: 100%;  
    background-color: rgba(255,255,255,0.5);
} */
.bottomBar{
    display: none;
}
.topBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    background-color: #f0f0f0;    
    z-index: 1;
    /* border :1px solid black; */
}

.nav{
    display: flex;
}
.other{
    color: rgba(0,0,0,0.4);

}

.other,.navItem{
    font-size: 1.5vw;
    margin-right: 1vw; 
    padding: 1vw 1vw 1vw 0vw ; 
    text-align: left;
    font-weight: 600;
    
}
.navItem::after{
    content: '';
    display: block;
    height: 16%;
    background: #41ab7d;
    width: 50%;
}
.other::after{
    content: '';
    display: block;
    width: 0;
    height: 16%;
    background: #41ab7d;
    transition: width .3s
}
.other:hover{
color:#000;
}
.other:hover::after{  
    width: 25%;

}
  .s1{
    height: 1.5vw;
    padding: 2vw 2vw 1vw 2vw;
}
.social{
    height: 0.5vw;
}
.social:hover{
    transition: ease-in .2s;
    color: #41ab7d;
    z-index: -1;
}
@media screen and (max-width: 991px) and (orientation: portrait) {
    .bb{
        padding :2%;
    }
    .about,.contact{
        color:rgba(0,0,0,0.4)
    }
    .topBar{
        display: none !important;
    }
    .content{
        margin-top: 0% !important;
    }
    .bottomBar::before{
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(24px);
        z-index: -1;
    }
    .bottomBar {
        
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        z-index: 1;
        padding: 3% !important;
        font-size: 5vw !important;
        position: fixed;
        left: 0%;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(24px);
        color: black;
        text-align: center !important;
     }
     
}
a{
    color: black;
    cursor: none;
    text-decoration:none ;
}
a:hover,.heading-5-copy:hover{
    transition: ease-in 0.2s;
    cursor: pointer;
    background-color: black;
    color :white !important;
}