/* other */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #41ab7d; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-radius:8px ;
    background: #67dba9; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    overflow: auto;
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
   
    margin: 0;
    cursor: default;
}
    .content{
        
        overflow-y: visible;
        background-color: rgba(0,0,0,0) !important;
        /* opacity: 0.2 !important; */
      z-index:1 !important;
  }
.bganimation{
    display: none;
    top:0;
    position: absolute;
    transform: rotate(-90deg) !important;
    pointer-events: none;
    z-index: -1;
  
    height: 210%;
}

.bottomBar{
    display: none;
}
.topBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2% 10%;
    background-color: #f0f0f0;    
    z-index: 1;
}

.nav{
    display: flex;
}
.other{
    color: rgba(0,0,0,0.2);

}
/* .navItem::after{
  content: '';
  display: block;
  height: 16%;
  background: #41ab7d;
  width: 50%;
}
.other::after{
  content: '';
  display: block;
  width: 0;
  height: 16%;
  background: #41ab7d;
  transition: width .3s
} */
.other{
    transition: 500ms ease-in-out;
  }
  
  .other:hover{
    color:#000 !important;
  }
  /* .other:hover::after{  
      width: 25%;
  
  } */
  
  span,a{
    text-decoration: none;
    color: inherit;  
      
  }
  .s1{
    height: 1.5vw;
    padding: 1vw;
}
.social:hover{
    transition: ease-in .2s;
    color: #41ab7d;
    z-index: -1;
}
.content{
    margin-top: 2% !important;
}
@media screen and (max-width: 991px) and (orientation: portrait) {
    .bb{
        padding :2%;
    }
    .about,.contact{
        color:rgba(0,0,0,0.4)
    }
    .topBar{
        display: none !important;
    }
    .content{
        margin-top: 2% !important;
    }
    .bottomBar::before{
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(24px);
        z-index: -1;
    }
    .bottomBar {
        
        align-items: center !important;
        justify-content: center !important;
        display: flex !important;
        z-index: 1;
        padding: 3% !important;
        font-size: 5vw !important;
        position: fixed;
        left: 0%;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(24px);
        color: black;
        text-align: center !important;
     }
     
}
a{
    
    text-decoration:none ;
}

.case{

    transition: 300ms ease-in-out;
    /* background-color: rgba(255,255,255,0.2); */
    color: #fff;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom:5% ;
}


.caseImage{
    transition: 300ms ease-in-out;
    border-radius: 16px;
    width: 25vw;
    box-shadow: 8px 8px 24px rgba(0,0,0,0.2);
    filter: saturate(0);
}
.caseDetails{
    
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    margin: 0% 2%;
    
}
.caseTitle{
    padding-bottom: 5%;
    font-size: 2vw;
    font-weight: bold;
    transition: 300ms ease-in-out;
}
.caseDescription{
    padding-bottom: 5%;
    color:rgba(255,255,255,0.8);
    transition: 300ms ease-in-out;
    text-align: justify;
}
.caseLink{
    font-style: italic;
    font-size: 0.8vw;
    color:rgba(0,0,0,0.4);
    
    display: inline;
    font-weight: bold;
}
.caseBox{
    border:1px solid ;
}
.case:hover > .caseImage {
    transform: scale(1.05);
    box-shadow: 8px 8px 24px rgba(0,0,0,0.4); 
    filter: saturate(1);
}
.case:hover >  .caseDetails  { 
    color: #000;
}
.case:hover > .caseDetails > .caseLink { 
    cursor: pointer;
    color: #000;
}
.arrow{
    
    transition: 150ms ease-in-out;
}
.caseLink:hover > .arrow{
    padding-left:1.25% ;
    color: #000;
}
.case:hover > .caseDetails > .caseDescription { 
    color:#000;
}