body{
    overflow: hidden;
}
.bganimation{
    pointer-events: none;

    position: absolute;
    /* border: 1px solid gray; */
    margin-top: -50%;
    transform: rotate(90deg);
}
.aboutCard{
    /* color: gray inherit; */
    margin:2% 0% 0% 42%;
    position: absolute;
}
.aboutTitle{
    font-size:5vw;
    font-family: 'Pacifico', cursive;
}
.about{
    font-size:1.25vw;
    margin-top:2%;
    text-align: justify;
    width: 75%;
    line-height:169%;
}
b{color: #000;}
b:hover{
       
    transition: ease-in .5s;
    text-decoration:underline;
}
.s1{
    height: 1.5vw;
    padding: 2vw 2vw 1vw 2vw;
    

}
.social{
    height: 0.5vw;
}
.social:hover{
    transition: ease-in .2s;
    color: #d4550d;
    z-index: -1;
}
.imageCard{
    /* background: linear-gradient(to top,#F87023,#d4550d); */
    display: flex;
    /* background-color: gray; */
    position: relative;
    height: 60%;
    width: 80%;
    color: #fff;
    /* filter:saturate(0); */
    /* filter:grayscale(0); */
    transition: ease-in .5s;
    /* animation: updown ease-in 1.75s infinite; */
    background: linear-gradient(to top,#F87023,#d4550d);
    filter: saturate(.85);
}
@keyframes updown{
    0%{transform:translate(0px,-10px);}
    50%{transform:translate(0px,0px);}
    100%{transform:translate(0px,-10px);}

}
.imageCard:hover{
    animation-play-state: paused;
    color: #fff;
    transition: ease-in .5s;
    background: linear-gradient(to top,#F87023,#d4550d);
    filter: saturate(.85);
    /* transform:translate(0px,-10px);    */
}
.smithPhoto{
    /* margin-top: -7.8%; */
    margin-left: 4%;
    position: absolute;
    min-width: none;
    bottom: 0;
    resize: none;
    height: 120%;
    width: auto;
    
    
}
body{
    cursor:none; 
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    
}
.cursor{
    z-index: 1;
    position: absolute;
    border: solid .25vw #000;
    width: 2vw; 
    height: 2vw; 
    border-radius: 100%;  
    /* background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px); */
}
.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 2% 10% 0% 10%;
    /* border :1px solid black; */
}
.nav{
    display: flex;
}
.other{
    color: rgba(0,0,0,0.4);

}
.other,.navItem{
  margin-right: 1vw; 
  padding: 1vw 1vw 1vw 0vw ; 
  text-align: left;
  font-weight: 600;
  font-size: 1.5vw;
}
.navItem::after{
    content: '';
    display: block;
    height: 16%;
    background: #F87023;
    width: 50%;
}
.other::after{
    content: '';
    display: block;
    width: 0;
    height: 16%;
    background: #F87023;
    transition: width .3s
}
.other:hover,.other:hover::after{  
    color:#000;
    width: 25%;

}
/* .tooltip {
    position: relative;
    display: inline-block; */
    /* //border-bottom: 1px dotted black; */
  /* }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
     */
    /* Position the tooltip */
    /* position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } */
