body{
    /* overflow-x: hidden !important;
    overflow-y: visible; */
    overflow:hidden;
}

.bottomBar,.bganimation3,.bganimation2{
    display: none !important;
} 


@media screen and (max-width: 991px) and (orientation: portrait) {
    .bganimation3{
        transform: rotate(-90deg) !important;
        display: block !important;
        /* border: 2px dashed; */
        margin-top: 96% !important;
        margin-left:25% !important;
    }
    .bganimation2{
        display: block !important;
        /* border: 2px solid; */
        margin-top: 36% !important;
        margin-left:25% !important;
    }
    .bganimation{
        transform: rotate(-90deg) !important;
        /* border: 4px dotted; */
        margin-top: -36% !important;
        margin-left:24% !important;
    }
    .cursor{
        display: none;
    }
    .topBar{
        display: none !important;
    }
    .aboutTitle{
        font-size:15vw !important;
    }
    .about{
        width: 90% !important;
        font-size:5vw !important;
        position: relative !important;
    }
    .aboutCard{
        top:0 !important;
        margin:0% 0% 0% 6% !important;
    }
    .s1{
        height: 5vw !important;
    }
    
    .s1{
        height: 8vw !important;
        padding: 2vw 2vw 1vw 2vw;
    }
    .social{
        height: 0.5vw;
    }
    .social:hover{
        transition: ease-in .2s;
        color: #d4550d;
        z-index: -1;
    }
    .smithPhoto{
    
        margin-left:12% !important;
        height: 52% !important;
    }
    .other,.navItem{
        font-size: 5vw !important;
    }
    .imageCard{
        border-radius:5vw !important;
        margin-left: 0% !important;
        /* opacity: 0.4; */
        display: flex;
        flex-direction: row;
        align-items: center !important;
        /* justify-content: center !important; */
        position: absolute;
        height: 110% !important; 
        width: 100% !important;
        /* margin-left: 7% !important; */
        color: #fff;
        transition: ease-in .5s;
        /* animation: updown ease-in 1.75s infinite; */
        background: linear-gradient(to top,#F87023,#d4550d);
        filter: saturate(.85);
    }
    .bottomBar::before{
        content: '';
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(24px);
        z-index: -1;
    }
    .bottomBar {
        
        align-items: center;
        justify-content: center;
        display: flex !important;
        z-index: 1;
        padding: 3% !important;
        font-size: 5vw;
        position: fixed;
        left: 0%;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(24px);
        color: black;
        text-align: center !important;
     }
     .contact{
        display:none;
     }
    
     .other{
        margin-left: 4vw;
     }
}
@media screen and (max-width: 320px){
    .smithPhoto{
        /* position: relative !important; */
        /* border: 2px solid black; */
        margin-left: 20% !important;
        height: 50% !important;
        
    }
    .about{
        font-size:4.1vw !important;
    }
    .imageCard{
        top:-15 !important;
    }
}
/* Below For Smoll itty bitty Screens */
@media screen and (max-width: 410px) and (min-width: 321){

.aboutTitle{
    font-size:13vw !important;
}
.about{
    align-items: center;
    width: 90% !important;
    font-size:4.8vw !important;
    position: relative !important;
}
.aboutCard{

 display: flex;
 flex-direction: column;
 align-items: stretch;
}
.smithPhoto{
    /* position: relative !important; */
    /* border: 2px solid black; */
    margin-left: 20% !important;
    height: 50% !important;
    
}
.other,.navItem{
    font-size: 5vw !important;
}


 /* Above For Smoll itty bitty Screens */

}
/* Mobile CSS ABOVE */
    .aboutTitle{
        font-size:5vw;
    }
    .about{
        font-size:1.25vw;
    }
    .s1{
        height: 1.5vw;
    }
    span,b:hover{
       
        transition: ease-in .5s;
        text-decoration:underline;
    }
    .s1{
        height: 1.5vw;
        padding: 2vw 2vw 1vw 2vw;
    }
    .social{
        height: 0.5vw;
    }
    .social:hover{
        transition: ease-in .2s;
        color: #d4550d;
        z-index: -1;
    }
    .smithPhoto{
        height: 120%;
    }
    .other,.navItem{
        font-size: 1.5vw;
    }

.bganimation3,.bganimation2{
    pointer-events: none;
    z-index: -1;
    position: absolute;
    margin-left:24%;
    transform: rotate(90deg);
    width: 65%;
}

.bganimation{
    pointer-events: none;
    z-index: -1;
    position: absolute;
    /* border: 1px solid gray; */
    margin-top: -28%;
    margin-left:24%;
    transform: rotate(90deg);
    width: 65%;
}
.aboutCard{
    /* color: gray inherit; */
    margin:2% 0% 0% 42%;
    position: absolute;
}
.aboutTitle{
    font-family: 'Pacifico', cursive;
}
.about{
    
    margin-top:2%;
    text-align: justify;
    width: 75%;
    line-height:169%;
}
b{color: #000;}

.imageCard{
    
    display: flex;
    position: relative;
    height: 60%;
    width: 80%;
    color: #fff;
    transition: ease-in .5s;
    /* animation: updown ease-in 1.75s infinite; */
    background: linear-gradient(to top,#F87023,#d4550d);
    filter: saturate(.85);
}
/* @keyframes updown{
    0%{transform:translate(0px,-10px);}
    50%{transform:translate(0px,0px);}
    100%{transform:translate(0px,-10px);}
} */
.imageCard:hover{
    animation-play-state: paused;
    color: #fff;
    transition: ease-in .5s;
    background: linear-gradient(to top,#F87023,#d4550d);
    filter: saturate(.85);
    /* transform:translate(0px,-10px);    */
}
.smithPhoto{
    /* margin-top: -7.8%; */
    margin-left: 4%;
    position: absolute;
    min-width: none;
    bottom: 0;
    resize: none;
    
    width: auto;   
}
body{
    cursor:none; 
    background-color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    
}
.cursor{
    z-index: 1;
    position: absolute;
    border: solid .25vw #000;
    width: 2vw; 
    height: 2vw; 
    border-radius: 100%;  
    /* background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px); */
}
.topBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 2% 10% 0% 10%;
    /* border :1px solid black; */
}
.nav{
    display: flex;
}
.other{
    color: rgba(0,0,0,0.4);

}
.other,.navItem{
  margin-right: 1vw; 
  padding: 1vw 1vw 1vw 0vw ; 
  text-align: left;
  font-weight: 600;
  
}
.navItem::after{
    content: '';
    display: block;
    height: 16%;
    background: #F87023;
    width: 50%;
}
.other::after{
    content: '';
    display: block;
    width: 0;
    height: 16%;
    background: #F87023;
    transition: width .3s
}
.other:hover,.other:hover::after{  
    color:#000;
    width: 25%;

}